# _version=1
# ._   _    _    ____
# | | | |  / \  |  _ \ _ __ _____  ___   _
# | |_| | / _ \ | |_) | '__/ _ \ \/ / | | |
# |  _  |/ ___ \|  __/| | | (_) >  <| |_| |
# |_| |_/_/   \_\_|   |_|  \___/_/\_\\__, |
# .                                  |___/
# ╦ ╦╦ ╦╔═╗
# ╠═╣║ ║║ ╦
# ╩ ╩╚═╝╚═╝
#
# HAProxy Technologies
# https://www.haproxy.org/
# https://www.haproxy.com/
#
# this file is not meant to be changed directly
# it is under HAProxy Unified Gateway for k8s control
#

global
  #daemon
  localpeer local
  maxconn 32000
  pidfile /var/run/haproxy.pid
  stats socket /var/run/haproxy-runtime-api.sock level admin expose-fd listeners
  stats timeout 36000
  ssl-default-bind-options ssl-min-ver TLSv1.1 no-tls-tickets
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA:!3DES
  hard-stop-after 1800000
  log stdout format raw daemon
  default-path config
  tune.lua.bool-sample-conversion normal
  lua-load-per-thread route.lua

defaults haproxytech
  log global
  log-format '%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs {BLR:%[var(txn.base_listener_route)]} "%HM %[var(txn.base)] %HV"'
  option dontlognull
  timeout http-request 5000
  timeout connect 5000
  timeout client 50000
  timeout queue 5000
  timeout server 50000
  timeout tunnel 3600000
  timeout http-keep-alive 60000

peers localinstance
  peer local 127.0.0.1:10000

frontend health_check_socket from haproxytech
    # pebble uses this socket to perform health checks
    bind unix@/var/run/haproxy/health.sock
    mode http
    monitor-uri /healthz
    option dontlog-normal

frontend healthz from haproxytech
  mode http
  monitor-uri /healthz
  option dontlog-normal

frontend stats from haproxytech
  mode http
  http-request set-var(txn.base) base
  http-request use-service prometheus-exporter if { path /metrics }
  stats enable
  stats uri /
  stats refresh 10s
  stats show-legends

backend backend_not_found from haproxytech
  mode http
  http-request return status 404 content-type html string "NOT FOUND"
